.avatar {
    width: 150%;
    height: 150%;
    display: block;
    margin-top: 2.2rem;
}

main {
    display: block;
    height: 100vh;
    background-image: url(flag.svg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.gif {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gif-text {

    justify-content: center;
}

.gif-pic {
    justify-content: center;
}

.name {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}